0 0 * * * certbot renew --post-hook "nginx -s reload" && echo "Certificates Renewed at $(date)"  >> /var/www/cron.log 2>&1
# Don't remove the empty line at the end of this file. It is required to run the cron job
